* {
    margin: 0;
    padding: 0;

}
.text-block {
    background-color: rgb(75, 75, 133);
    display: block;
    width: 600px;
    height: 35px;
    overflow: hidden;
    text-align: center;
}


.text-block:hover {
    background-color: rgb(209, 5, 56);

}